USE [master]
GO
/****** Object:  Database [TestTwoDB]    Script Date: 10/9/2023 8:04:50 AM ******/
CREATE DATABASE [TestTwoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestTwoDB', FILENAME = N'E:\apps\sql\sql-app\MSSQL16.SQLEXPRESS\MSSQL\DATA\TestTwoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestTwoDB_log', FILENAME = N'E:\apps\sql\sql-app\MSSQL16.SQLEXPRESS\MSSQL\DATA\TestTwoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestTwoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestTwoDB]
GO
/****** Object:  Table [dbo].[persons]    Script Date: 10/9/2023 8:04:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persons](
	[PersonID] [int] NULL,
	[LastName] [varchar](255) NULL,
	[FirstName] [varchar](255) NULL,
	[Address] [varchar](255) NULL,
	[City] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
